* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	min-height: 100vh;
}

body {
	font-family: $font-main;
	font-weight: 400;
	font-size: 10px;
	color: $font-color;
	background-color: $yellow;
}

fieldset {
	border: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: inherit;
	font-size: inherit;

	&:hover {
		text-decoration: none;
		color: inherit;
	}
}

ul,
ol {
	list-style: none;
}

ul,
ol,
li {
	padding: 0;
	margin: 0;
}

button {
	cursor: pointer;
	border: none;
	background-color: transparent;
	outline: none;
}

label {
	cursor: pointer;
}

.container {
	min-width: 500px;
	max-width: 1106px;
	margin: 0 auto;
	padding-left: 75px;
	padding-right: 15px;
}


/* noUiSlider styles */
.noUi-target {
	border: none;
	background: $disabled-element;
	box-shadow: none;
}

.noUi-horizontal {
	height: 2px;
}

.noUi-connect {
	background: $font-color-additional;
}

.noUi-horizontal .noUi-handle {
	top: -20px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: $yellow;
	border: 2px solid $font-color-additional;
}

.noUi-handle {
	box-shadow: none;
	cursor: pointer;
}

.noUi-handle:after {
	display: none;
}

.noUi-handle:before {
	position: absolute;
	top: 12px;
	left: 50%;
	transform: translateX(-50%);
	width: 16px;
	height: 10px;
	content: url('../img/handle.svg');
	background: transparent;
}

.noUi-handle:focus {
	outline: none;
}


// Chosen Styles 
.chosen-container {
	@include text($H10);
	height: 40px;

	&:after {
		content: url('../img/arrow-down.svg');
		width: 10px;
		height: 4px;
		position: absolute;
		top: 14px;
		right: 15px;
		cursor: pointer;
	}
}

.chosen-container-active .chosen-choices {
	box-shadow: none;
}

.chosen-container-multi .chosen-choices {
	border: none;
	background-image: none;
	height: 40px;
	padding: 0 10px;
}

.chosen-choices:focus {
	outline: none;
}

.chosen-container-multi .chosen-choices li.search-choice {
	border: none;
	background-color: $white;
	background-image: none;
	box-shadow: none;
	margin: 14px 20px 13px 10px;
	padding: 0 0 0 20px
}

.chosen-container-multi .chosen-choices li.search-choice span {
	@include text($H10);
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
	background: url('../img/close-button.svg') center no-repeat;
	width: 9px;
	height: 10px;
	top: 3px;
	left: 4px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
	background-position: 0 0;
}

.chosen-container .chosen-drop {
	border: none;
	box-shadow: none;
	margin-top: 8px;
}

.chosen-container:focus {
	outline: none;
	box-shadow: none;
}

.chosen-drop:focus {
	outline: none;
}

.chosen-container .chosen-results li {
	font-family: inherit;
	@include text($H10);
}

.chosen-container .chosen-results li.highlighted {
	background-color: $white;
	background-image: none;
	color: $font-color-additional;
}

.chosen-container-active:focus {
	box-shadow: none;
}

.chosen-with-drop:focus {
	box-shadow: none;
}

.chosen-container-multi .chosen-choices li.search-field,
.chosen-search-input.default {
	height: 100%;
}
.chosen-container-multi .chosen-choices li.search-field input[type=text] {
	height: 100%;
	vertical-align: middle;
	font-family: inherit;
}
